/*used for what's-new and cart_watchlist*/

.data-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.item-list{
    width: 80%;
    display: grid;
    gap: 0 20px;
    grid-template-columns: auto auto;
}

:root{
    --item-width_height: 300px;
}

.item-list .item{
    display: grid;
    grid-template-columns: var(--item-width_height) auto;
    grid-template-rows: auto auto auto auto;
    background-color: rgba(216, 216, 216, 0.31);
    grid-auto-flow: column;
    row-gap: -1px;
    column-gap: 10px;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.item-list .item:hover .item-image img{
    transform: scale(1.2);
    opacity: 0.9;
}

.item-list .item .item-image{
    grid-column: 1;
    grid-row: 1 / 5;
    overflow: hidden;
    position: relative;
}

.item-list .item .item-image img{
    width: var(--item-width_height);
    height: var(--item-width_height);
    transform: scale(1.03);
    transition-duration: 1s;
}

.item-list .item .item-name{
    font-size: 20px;
}   

.item-list .item .item-dis{
    padding-right: 10px;
}

.item-list .item .action{
    position: relative;
    z-index: 5;
}

.item-list .item .action .title{
    position: absolute;
    top: -40px;
    right: 0px;
    background-color: #ffffff37;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 10px;
    transform: translateY(-100px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.3s;
    z-index: 6;
}

.item-list .item .action button:nth-child(2):hover + .title {
    opacity: 1;
    transform: translateY(-75px);
    z-index: 6;
}

.item-list .item .action button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
    border: 3px solid rgb(49, 8, 56);
    background-color: rgba(255, 255, 255, 0.232);
    color: rgb(49, 8, 56);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.item-list .item .action img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.go-top-menu{
    display: block;
}

@media (max-width:1450px) {
    :root{
        --item-width_height: 250px;
    }
}

@media (max-width:1300px) {
    :root{
        --item-width_height: 230px;
    }

    .item-list{
        width: 80%;
        display: grid;
        gap: 0 20px;
        grid-template-columns: auto;
    }
}

@media (max-width:970px) {
    :root{
        --item-width_height: 300px;
    }

    .item-list{
        width: 80%;
        display: grid;
        column-gap: auto;
        grid-template-columns:   repeat(auto-fill, minmax(var(--item-width_height), 1fr));
    }

    .item-list .item{
        display: flex;
        grid-template-columns: none;
        grid-template-rows: none;
        grid-auto-flow: none;
        row-gap: none;
        column-gap: none;
        align-items: none;
        border-radius: none;
        margin-bottom: 25px;
        flex-direction: column;
        padding-bottom: 20px;
        width: var(--item-width_height);
        place-self: center;
        align-self: start;
    }
    
    .item-list .item .item-image{
        grid-column: none;
        grid-row: none;
        overflow: hidden;
    }
    
    .item-list .item .item-name{
        font-size: 20px;
        padding-bottom: 5px;
    }   
    
    .item-list .item .item-dis{
        padding: 10px;
    }

    .item-list .item .item-price{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width:770px) {
    :root{
        --item-width_height: 350px;
    }

    .top-sub-search-bar .search-bar{
        width: 70%;
    }
}

@media (max-width:550px) {
    :root{
        --item-width_height: 300px;
    }

    .main-body .main-body-title h1{
        font-size: 30px;
    }

    .main-body .main-body-title img{
        width: 50px;
    }

    .main-body{
        min-height: 50vh;
    }
}

@media (max-width:440px) {
    :root{
        --item-width_height: 250px;
    }

    .top-sub-search-bar .search-bar{
        width: 85%;
    }

    .go-top-menu{
        display: none;
    }
}

@media (max-width:400px) {
    :root{
        --item-width_height: 255px;
    }

    .top-sub-search-bar .search-bar{
        width: 85%;
    }

    .sub-menu-bar-item-names .menu-item{
        display: none;
    }
}