.menu {
    background-color: #ffffff66;
    backdrop-filter: blur(20px);
    width: 90%;
    position: fixed;
    top: 5px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    display: flex;
    z-index: 10;
}

/**
.menu-bar .menu-logo{
    width: 50px;
    height: 50px;
    background-color: var(--menu-bar-itme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.menu-bar .menu-logo img{
    width: 100%;
}

.menu-bar .menu-items{
    background-color: rgb(149, 149, 149);
}

.menu-bar .menu-items ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.menu-bar .menu-items li{
    background-color: rgb(200, 200, 200);
}**/

.menu-logo {
    margin-top: 7px;
    margin-left: 5px;
    background-color: rgba(221, 221, 221, 0.3);
    position: absolute;
    display: inline-flex;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 1s;
}

.menu-logo:hover {
    background-color: rgba(220, 220, 220, 0.526);
}

.menu-logo img {
    width: 50px;
}

.menu ul {
    list-style-type: none;
    display: inline-flex;
    margin: 9px;
    margin-left: 20px;

}

.menu li {
    margin-left: 7px;
    margin-right: 7px;
    padding: 13px;
    cursor: pointer;
    border-radius: 10px;
    font-family: var(--normal-txt);
    font-size: 15px;
    transition-duration: 1s;
}

.menu li:hover {
    background-color: rgba(234, 234, 234, 0.414);
}

.menu .drop-down {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.menu .drop-down img {
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 5px;
}

.menu .space {
    width: inherit;
}

.menu .menu-f-icons {
    margin: 9px;
    display: inline-flex;
}

.menu .menu-f-icons .f-icon {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    transition-duration: 1s;
}

.menu .menu-f-icons .f-icon:hover {
    background-color: rgba(234, 234, 234, 0.414);
}

.menu .menu-f-icons .f-icon img {
    width: 25px;
}

/**
.container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    display: block;
}
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}**/