.sub-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-view{
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    display:flex;
    flex-wrap: wrap;
}

.filter-view div{
    justify-self: center;
}

.filter-view img{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.filter-view select,input{
    width: fit-content;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    outline: none;
    transition-duration: 1s;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.pur-his{
    width: 100%;
}

.pur-his{
    width: 70%;
}

.pur-his .grid-view-1d4w{

}

.pur-his .grid-view-1d4w .item-head{
    display: inline-flex;
    width: 100%;
    background-color: rgba(219, 219, 219, 0.592);
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

:root{
    --item-width_height: 70px;
}

.pur-his .grid-view-1d4w .item{
    display: inline-flex;
    width: 100%;
    background-color: rgba(219, 219, 219, 0.592);
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.pur-his .grid-view-1d4w .item:hover .item-image img{
    transform: scale(1.3);
}

.pur-his .grid-view-1d4w .item .item-image{
    width: var(--item-width_height);
    height: var(--item-width_height);
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 1s;
}

.pur-his .grid-view-1d4w .item .item-image img{
    width: var(--item-width_height);
    height: var(--item-width_height);
    transition-duration: 1s;
}

.pur-his .grid-view-1d4w .item .action button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;
    border: 3px solid rgb(49, 8, 56);
    background-color: rgba(255, 255, 255, 0.232);
    color: rgb(49, 8, 56);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.pur-his .grid-view-1d4w .item .action img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}