:root {
    --normal-txt: 'Sans-serif', Arial;
    --menu-bar-itme-color: rgb(232, 232, 232);
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--normal-txt);
}

.go-top-menu{
    display: block;
}

@media (max-width:440px) {
    .go-top-menu{
        display: none;
    }
}