:root {
    --normal-txt: 'Sans-serif', Arial;
    --menu-bar-itme-color: rgb(232, 232, 232);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--normal-txt);
}

.main-body {
    width: 100%;
    background-image: url('../images/background_image_with_3d_shapes_blue_purple.png');
    background-size: cover;
    height: fit-content;
    padding-bottom: 50px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
}

.main-body .overview{
    width: 90%;
}

.main-body .overview .items{
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

:root{
    --main-body-item-with_hieght : 120px;
}

.main-body .overview .items .item{
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.474);
    width: var(--main-body-item-with_hieght);
    height: var(--main-body-item-with_hieght);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin-top: 10px;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}

.main-body .overview .item .dis{
    font-size: 20px;
    font-weight: bold;
}

.main-body .overview .items img{
    width: 60px;
    padding: 10px;
    transition-duration: 1s;
}

.main-body .overview .item:hover img{
    transform: scale(1.1);
}

.f-icon .profile img{
    border-radius: 50%;
}

.whats-new{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(196, 216, 222);
}

 .popular .act-placeholder{
    width: 90%;
    margin-bottom: 50px;
}

.act-items{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.act-items .act-item{
    display: inline-flex;
    padding: 10px;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 10px;
    align-items: center;
}

.act-items .act-item .act-image{
    width: 40px;
    height: 40px;
    background-color: rgba(237, 237, 237, 0.615);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.act-items .act-item .act-image img{
    width: 30px;
    height: 30px;
}

.act-items .act-item .profile img{
    border-radius: 50%;
}

.act-items .act-item .product img{
    width: 100%;
    height: 100%;
}

.act-items .act-item button{
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
    border: 3px solid rgb(49, 8, 56);
    background-color: rgba(255, 255, 255, 0.232);
    color: rgb(49, 8, 56);
    backdrop-filter: blur(5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
}

.act-items .act-item button img{
    width: 20px;
    padding-right: 10px;
}

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}

.title img{
    width: 40px;
    margin-top: 0px;
    margin-right: 15px;
}

.title h1{
    font-size: 40px;
    margin-top:30px;
    color: rgb(29, 18, 79);
}

.analytics{
    width: 100%;
}

.analytics .placeholder{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

:root{
    --cat-item-height: 130px;
    --cat-item-width : 500px;
}

.categories .placeholder1{
    width: 90%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: repeat(auto-fill, minmax(var(--cat-item-width), 1fr));
    row-gap: 20px;
    margin-bottom: 100px;
}

.categories .placeholder1 .item{
    width: var(--cat-item-width);
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    height: var(--cat-item-height);
    place-self: center;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.categories .placeholder1 .item:hover img{
    transform: scale(1.2);

}

.categories .placeholder1 .item .item-image{
    width: 174px;
    height: 130px;
    overflow: hidden;
}

.categories .placeholder1 .item img{
    width: var(--cat-item-height);
    height: var(--cat-item-height);
    transition: transform .5s ease;
}

.categories .placeholder1 .item-name{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(225, 247, 246);
}

.subscribe .holder{
    width: 40%;
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-bottom: 100px;
}

.subscribe .holder input{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    transition-duration: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.subscribe button{
    position: absolute;
    width: fit-content;
    padding: 13px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
    border: 3px solid rgb(49, 8, 56);
    background-color: rgba(255, 255, 255, 0.232);
    color: rgb(49, 8, 56);
    backdrop-filter: blur(5px);
    right: 10px;
    bottom: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.subscribe button:hover{
    border: 3px solid rgba(49, 8, 56, 0);
    background-color: rgb(49, 8, 56);
    color: rgb(255, 255, 255);
}